<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florify</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
   
</head>
<body>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery.slim.min.js"></script>

<!--navBar-->
       <div class="bg-color">
        <nav class="navbar navbar-expand-sm navbar-light ">
              
                <a class="navbar-brand" href="#">
                     
                    <!--<div class="d-flex justify-content-center align-items-center ">
                        <div class="spinner-border text-warning spinner-border-sm"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    -->   
                           <img src="/img/logo2.png" alt="..." class="logoform">
                   
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" aria-current="page">Accueil <span class="visually-hidden">(current)</span></a>
                        </li>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos Services</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Jardins</a>
                                <a class="dropdown-item" href="#">Mariages</a>
                                <a class="dropdown-item" href="#">Cadeaux</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos Contact</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Tel :+213 665440130</a>
                                <a class="dropdown-item" href="#">Adresse :Tichy RN9 - Béjaia </a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex my-2 my-lg-0 p-2 ">
                        <!--
                             <input class="form-control me-sm-2" type="text" placeholder="Search">
                        -->
                        <button class="btn btn-color my-2 my-sm-0 " type="submit">Commander</button>
                    </form>
                </div>
         
        </nav>
        
     </div>
     <!--slider-->
     <div class="row ">
        
            
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <div class="container-fluid d-flex justify-content-center align-items-center">
                    <img src="/img/sl1.jpg" class="img-fluid w-100" alt="...">

                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h2>Jardins Sur-Mesure</h2>
                      <p class="lead fst-italic ">Transformer votre espace extérieur en un paradis floral unique</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="container-fluid d-flex justify-content-center align-items-center">
                    <img src="/img/sl2.png" class="img-fluid w-100" alt="...">

                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h2> Mariages Élégants</h2>
                      <p class="lead fst-italic">Sublimez votre mariage avec des fleurs exceptionnelles</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="container-fluid d-flex justify-content-center align-items-center">
                    <img src="/img/sl3.png" class="img-fluid w-100" alt="...">

                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h2>Cadeaux Fleuris</h2>
                      <p class="lead fst-italic">Cadeaux Fleurs : Témoignage d'Affection en Bouquets et Paniers</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      <!--cards-->
      <div class="container-fluid d-flex justify-content-center align-items-center p-4 mt-4">
        <h1> Fleurs pour chaque occasion</h1>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 container d-flex justify-content-center align-items-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/c_Pink.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gratitude</h5>
                        <p class="card-text"> Offrez-la pour exprimer votre reconnaissance sincère.</p>
                          <div class="d-flex justify-content-end align-items-end">
                            <a href="#" class="btn btn-color">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 container d-flex justify-content-center align-items-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/c_Red.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Passion</h5>
                        <p class="card-text">Offrez-la pour déclarer vos sentiments les plus profonds.</p>
                        <div class="d-flex justify-content-end align-items-end">
                            <a href="#" class="btn btn-color">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 container d-flex justify-content-center align-items-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/c_white.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sérénité</h5>
                        <p class="card-text">Offrez-la pour apporter la paix à votre esprit et à votre cœur.</p>
                        <div class="d-flex justify-content-end align-items-end">
                            <a href="#" class="btn btn-color">Découvrir</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 col-md-6 mb-4 container d-flex justify-content-center align-items-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/c_yellow.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Espoir</h5>
                        <p class="card-text">Offrez-la pour inspirer un avenir lumineux et joyeux.</p>
                        <div class="d-flex justify-content-end align-items-end">
                            <a href="#" class="btn btn-color">Découvrir</a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 col-md-6 mb-4 container d-flex justify-content-center align-items-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/C_orange1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Amitié</h5>
                        <Offrez-la class="card-text">Offrez-la pour renforcer les liens d'amitié.</p>
                            <div class="d-flex justify-content-end align-items-end">
                                <a href="#" class="btn btn-color">Découvrir</a>
                            </div>
                        
                    </div>
                </div>       
            </div>
        </div>
    </div>
   <!--JumboTron-->
   <div class="container p-4 mt-4">
    <div class="jumbotron ">
        <div class="container d-flex justify-content-center align-items-center">
         <h1>La Magie des Fleurs, Capturée pour Vous</h1>
        </div>
       
        <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit soluta fuga, illo, 
            incidunt cumque vero perferendis delectus doloribus officia ex distinctio alias nulla? 
            Iste animi aut optio natus, vel ratione? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi ducimus soluta delectus voluptatum!
             Illo unde obcaecati, mollitia optio aut inventore ratione libero omnis odit perspiciatis nostrum quisquam? At, vel molestias.
        </p>
    </div>
</div>
   <!--Footre-->
   <footer class="bg-color p-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>À propos de nous</h5>
               <p>Nous sommes passionnés par le partage de la beauté des fleurs avec vous. Notre mission est d'apporter de la joie à travers les merveilles de la nature.</p>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Florify. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
    
</body>
</html>